section {
    display: flex;
    width: 100%;
    max-width: 1440px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-evenly;
}

h1 {
    font-size: 90px;
}

.profile_picture_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    width: 400px;
    height: 500px;
}

.placeholder_span {
    position: absolute;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.4);
    rotate: -45deg;
    z-index: 2;
}

.short_info_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.short_info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.about_me_icons {
    width: 48px;
    height: 48px;
}