<section>
    <div class="infobox">
        <h1>About Me</h1>
        <span>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto excepturi architecto tempore adipisci,
            praesentium quia nemo et vel molestiae error cupiditate, alias, labore voluptatibus officia. Deserunt rerum
            officia provident nam!
        </span>
        <div class="short_info_container">
            <div class="short_info">
                <img class="about_me_icons" src="./../../../assets/icons/location_icon.png" alt="">
                <span>where are you located?</span>
            </div>
            <div class="short_info">
                <img class="about_me_icons" src="./../../../assets/icons/bulb_icon.png" alt="">
                <span>speak about your interests in developing yourself.</span>
            </div>
            <div class="short_info">
                <img class="about_me_icons" src="./../../../assets/icons/puzzle_icon.svg" alt="">
                <span>describe how you solve problems.</span>
            </div>
        </div>
    </div>

    <div class="profile_picture_container">
        <span class="placeholder_span">placeholder</span>
        <img class="profile-picture" src="./../../../assets/img/profile_picture.png" alt="">
    </div>

</section>