section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;

    .headlines {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 60px;

        h1 {
            font-weight: 700;
            font-size: 128px;
            margin: 0;
        }

        h2 {
            color: #9747FF;
            font-weight: 400;
            font-size: 64px;
            margin: 0;
        }
    }

    button {
        cursor: pointer;
        color: white;
        height: 58px;
        border-radius: 10px;
        padding: 15px 30px;
        background-color: #70E61C;
        font-size: 23px;
        line-height: 120%;
        transition: all 0.3s ease-in-out;
        border: none;

        &:hover {
            background-color: #9747FF;
            transform: scale(1.15);
        }
    }

    .links {
        position: absolute;
        bottom: 40px;
        left: 0;
        display: flex;
        align-items: center;
        gap: 42px;

        >img {
            width: 100px;
            height: 2px;
        }

        >a {
            transition: transform 0.1s ease-in-out;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}