<section>
    <img class="skills_picture" src="./../../../assets/img/skills_overview.png" alt="">

    <div class="skills_infobox">
        <div class="skills_headline_container">
            <h1>Skills</h1>
            <img class="blue_line" src="./../../../assets/icons/blue_line.png" alt="">
        </div>

        <span>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto excepturi architecto tempore adipisci,
            praesentium quia nemo et vel molestiae error cupiditate, alias, labore voluptatibus officia. Deserunt rerum
            officia provident nam!
        </span>
        <div class="h2_container">
            <h2>Looking for</h2><span class="purple-span">another skill</span><span>?</span>
        </div>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sapiente asperiores non voluptate et
            nihil natus, debitis cupiditate incidunt, veniam harum voluptatibus minus perspiciatis doloribus, officia
            consequatur iste consequuntur quasi.</span>
        <button>Let's talk!</button>
    </div>



</section>