section {
    display: flex;
    width: 100%;
    padding: 100px 50px;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    box-sizing: border-box;

    .skills_picture {
        width: 500px;
        height: 500px;
    }

    .skills_infobox {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .skills_headline_container {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 20px;

            h1 {
                font-size: 90px;
                margin: 0;
            }

            .blue_line {
                width: 287px;
                height: 3px;
                background-color: #70E61C;
            }
        }

        .h2_container {
            display: flex;
            gap: 4px;
            margin-bottom: 20px;

            >span {
                font-size: 24px;
                font-weight: 700;

                &.purple-span {
                    color: #9747ff;
                }
            }
        }

        button {
            cursor: pointer;
            color: white;
            height: 58px;
            width: 220px;
            border-radius: 10px;
            padding: 15px 30px;
            background-color: #70E61C;
            font-size: 23px;
            line-height: 120%;
            transition: all 0.3s ease-in-out;
            border: none;
            margin-top: 20px;

            &:hover {
                background-color: #9747FF;
                transform: scale(1.15);
            }
        }
    }
}