@mixin dFlex($jc, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

.dNone {
    display: none;
}

nav {
    height: 109px;
    @include dFlex(space-between);
    position: fixed;
    top: 0px;
    left: 37px;
    right: 37px;
    z-index: 99;

    >div {
        display: flex;
        align-items: center;


    }
}

.navigation-bar {
    gap: 92px;
}

.navigation-links {
    display: flex;
    font-size: 24px;
    gap: 29px;

    >a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-style: normal;



        &:hover {
            color: #70e71a;
        }
    }
}

.change_language_button {
    height: 32px;
    width: 92px;
    cursor: pointer;
}

.purple-dot {
    color: #9747ff;
}

.green-r {
    color: #70e71a;
}