<nav>
    <h1>
        <a href="#landing_page">
            <span>Ol</span><span class="purple-dot">i</span><span>ve</span><span class="green-r">r</span>
        </a>
    </h1>


    <div class="navigation-bar">

        <div class="navigation-links">
            <a href="#about_me">About me</a>
            <a href="#skills">Skills</a>
            <a href="#">Portfolio</a>
        </div>

        <div (click)="toggleLanguageIcon()" class="change_language_button">
            <img id="de_active" src="./../../../assets/icons/de_active.png" alt="">
            <img id="en_active" class="dNone" src="./../../../assets/icons/en_active.png" alt="">
        </div>

    </div>

</nav>