<section>
    <div class="headline_container">
        <img src="./../../../assets/icons/purple_line.png" alt="">
        <h1>Portfolio</h1>
    </div>

    <div class="project_container">
        <img src="./../../../assets/img/pollo_loco.png" alt="">
        <div id="overlay" class="overlay">
            <div class="button_container">
                <button class="git_button">Github</button>
                <button class="live_button">Live test</button>
            </div>
            <div class="info_container">
                <h2>title</h2>
                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, exercitationem, voluptas sint
                    voluptates quia id, odio aliquid itaque ducimus nemo ullam doloremque enim! Dolorum magnam,
                    blanditiis ratione sed consequuntur deleniti?
                </span>
                <span>
                    JavaScript | HTML | CSS
                </span>
            </div>
        </div>
    </div>


</section>